@page "/"
@inject GamesClient Client

<PageTitle>Game Catalog</PageTitle>

<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/edit-games-collection">Add New Game</a>
</div>

@if(games is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered table-hover mt-3">
        <thead class="table-dark text-center">
            <th>ID</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
        </thead>

        <tbody>
            @foreach (var game in games)
            {
                <tr class="text-center">
                    <td >@game.ID</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td>@game.Price.ToString("C2")</td>
                    <td>@game.ReleaseDate</td>
                    <td>
                        <div class="d-flex">
                            <a class="btn btn-primary me-2" role="button" href="@GameURL(game.ID)">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <button class="btn btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="@GetDeleteModalID(game)">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </div>
                        <DeleteGame Game="@game"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GameSummary[]? games;
    protected override void OnInitialized()
    {
        games = Client.GetGames();
    }

    private static string GameURL(int id) => $"/edit-games-collection/{id}";

    private string GetDeleteModalID(GameSummary game)
    {
        return $"#{DeleteGame.GetModalID(game)}";
    }
}
